{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tsxSingleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "parser": "typescript"

}
